/* 

#143642
#003554
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  align-items: center;
  background-color: #1d3557;
  /* background-color: #343a40; */
  /* background-color: #212529e8; */
  font-family: "Nunito", sans-serif;
}

.container {
  width: 30vw;
  height: 30vw;
  /* background-color: orchid; */
  margin: 5rem auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.164);
}
.something {
  background-color: chartreuse;
}
.fa-github {
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 3rem;
  color: rgb(245, 241, 241);
  z-index: 1000;
}
.fa-github:hover {
  color: rgba(216, 250, 79, 0.573);
}

.each-cell {
  background-color: #457b9d;
  border-radius: 0.7rem;
  cursor: pointer;
  /* box-shadow: 3rem 3rem 5rem rgb(0 0 0 / 25%); */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.7s;
  position: relative;
  animation: fadeIn 3s;
}
.each-cell:nth-child(odd) {
  background-color: #457b9d;
  /* background-color: #6c757d;
  background-color: #495057; */
}
.each-cell:nth-child(even) {
  background-color: #457b9dc3;
  /* background-color: #343a40; */
}

.each-cell:hover {
  transform: translateY(-2px);
}
.each-cell:active {
  transform: translateY(2px);
}
.x:after {
  content: "";
  width: 90%;
  height: 10%;
  background-color: azure;
  position: absolute;
  border-radius: 1rem;
  top: 50%;
  right: 50%;
  transform: translate(50%) rotate(45deg);
  animation: fadeIn 1s;
}
.x:before {
  content: "";
  width: 90%;
  height: 10%;
  background-color: azure;
  position: absolute;
  border-radius: 1rem;
  top: 50%;
  right: 50%;
  transform: translate(50%) rotate(-45deg);
  transition: all 0.5s;
  animation: fadeIn 1.5s;
}
.o {
  outline: 15px white solid;
  width: 62%;
  height: 62%;
  border-radius: 60%;
  transition: all 0.6s;
}

.players-score {
  display: flex;
  justify-content: center;
  color: white;
}
.display {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-right: 10rem;
  font-size: 2rem;
}
.display:last-child {
  margin-right: 0;
}

.player {
  transition: all 1s;
}
.active {
  color: rgb(13, 206, 19);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30vw;
  height: 30vw;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;

  background-color: #457b9dc1;
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  animation: fadeIn 1s;
  transition: all 1s;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(3px);
  z-index: 5;
  animation: fadeIn 1s;
  transition: 1s;
}
.state {
  font-size: 3rem;
}
.current-winner {
  font-size: 4rem;
  animation: fadeIn 1.2s;
  transition: all 0.7s;
}

.btn {
  cursor: pointer;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1rem 2rem;
  font-weight: 400;
  font-size: large;
  border-radius: 2rem;
  text-transform: uppercase;
}
.btn:active {
  transform: translateY(3px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}
.btn:hover {
  background-color: rgba(255, 255, 255, 0.8);
}
.btn {
  margin-right: 1rem;
}
.score-board {
  font-size: large;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.hidden {
  display: none;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 1025px) {
  .container {
    width: 80vw;
    height: 80vw;
    gap: 1.2rem;
  }
  .display {
    font-size: 2rem;
    margin-right: 5rem;
  }
  .display:last-child {
    margin-right: 0;
  }
  .o {
    outline: white 16px solid;
  }
  .modal {
    width: 80vw;
    height: 80vw;
  }
}
@media (max-width: 769px) {
  .container {
    width: 80vw;
    height: 80vw;
    gap: 1rem;
  }
  .display {
    font-size: 2rem;
    margin-right: 15rem;
    font-size: 2.5rem;
  }
  .display:last-child {
    margin-right: 0;
  }
  .o {
    outline: white 16px solid;
  }
  .modal {
    width: 80vw;
    height: 80vw;
  }
  .state {
    font-size: 3rem;
    margin-bottom: 1rem;
  }
  .current-winner {
    font-size: 4rem;
  }
}
@media (max-width: 600px) {
  .container {
    width: 80vw;
    height: 80vw;
    gap: 1rem;
  }
  .display {
    font-size: 2rem;
    margin-right: 10rem;
    font-size: 2rem;
  }
  .display:last-child {
    margin-right: 0;
  }
  .o {
    outline: white 12px solid;
  }
  .modal {
    width: 80vw;
    height: 80vw;
    top: 30%;
  }
}
@media (max-width: 500px) {
  .container {
    width: 80vw;
    height: 80vw;
    gap: 0.7rem;
  }
  .display {
    font-size: 2rem;
    margin-right: 5rem;
  }
  .display:last-child {
    margin-right: 0;
  }
  .o {
    outline: white 10px solid;
  }
  .modal {
    width: 80vw;
    height: 80vw;
  }
  .btn {
    padding: 0.7rem 1.2rem;
    font-size: medium;
    margin: 1rem;
  }
}
@media (max-width: 376px) {
  .container {
    width: 80vw;
    height: 80vw;
    gap: 0.6rem;
  }
  .display {
    font-size: 2rem;
    margin-right: 5rem;
  }
  .display:last-child {
    margin-right: 0;
  }
  .o {
    outline: white 10px solid;
  }
  .modal {
    width: 80vw;
    height: 80vw;
    font-size: sm;
  }
  .btn {
    padding: 0.7rem 1.2rem;
    font-size: medium;
    margin: 1rem;
  }
  .state {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .current-winner {
    font-size: 2.5rem;
  }
}

@media (max-width: 320px) {
  .container {
    width: 80vw;
    height: 80vw;
    gap: 0.5rem;
  }
  .display {
    font-size: 2rem;
    margin-right: 5rem;
  }
  .display:last-child {
    margin-right: 0;
  }
  .o {
    outline: white 7px solid;
  }
  .modal {
    width: 80vw;
    height: 80vw;
    top: 50%;
  }

  .btn {
    padding: 0.5rem 1rem;
    font-size: small;
    margin: 1rem 0rem 0.5rem 0rem;
  }
  .state {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .current-winner {
    font-size: 2.5rem;
  }
}
